.title-principal {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  color: var(--color-text-roxo);

  min-height: 4rem;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
