.title-principal {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  color: rgb(102, 9, 156);

  min-height: 4rem;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
