* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

:root {
  --color-text-light: #ffffff;
  --color-text-roxo: #66099c;
  --color-btn-laranja: #d6801e;
  --color-btn-laranja-dark: #724613;
  --border-radius: 0.75rem;
}
